<style type="text/css">
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      
      margin-bottom: 60px;
      margin-top: 0px;

    }
    .footer {
      
      bottom: 0;
      width: 100%;
      
      height: 60px;
      color:black;

    }

    .container{
      float: center;
    }

    .navbar .navbar-nav {
      display: inline-block;
      float: center;
      width: 100%
      vertical-align: top;
      margin: 0px; 
      position: relative;
      left: 175px;
    }

    .navbar-fixed-bottom {
      padding-left: 30%;


    }

    body{
      background-color: #FAF3DD
    }
    /*this page only styles below*/
    * {
      margin: 0; 
      padding: 0;
    }
    body {
      background: #FAF3DD; 
      font-family: arial, verdana, tahoma;
    }



.accordian {
  width: 900px; height: 780px;
  overflow: hidden;
  
  
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}


.accordian ul {
  width: 2000px;
  
}

.accordian li {
  position: relative;
  display: block;
  width: 150px;
  float: left;
  
  border-left: 1px solid #888;
  
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  
  /*Transitions to give animation effect*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  
}


.accordian ul:hover li {width: 40px;}

/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
  display: block;
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0; bottom: 0; 
  width: 690px; 

}
.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}
</style>